:root {
  --marrom: #a45f48;
  --marrom-fonce: #6e363c;
  --white: #eeeeee;
}
* {
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  text-align: center;
  height: 100%;
  margin: 0;
}
main {
  flex: 1;
}

.header-img {
  padding: 0;
  position: relative;
  background-image: url("../img/europe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10em 0 8em;
  z-index: 2;
}
nav {
  padding: 16px;
  background: var(--marrom);
  color: #fff;
  text-align: center;
}
nav a {
  padding: 1.2rem;
  text-decoration: none;
  color: var(--white);
}
nav a:hover {
  background-color: var(--white);
  text-decoration: none;
  color: var(--marrom);
}

form {
  display: flex;
  flex-direction: row;
}

h1,
h2 {
  color: var(--marrom);
  font-size: 2rem;
  text-align: center;
  padding: 8px;
}
.commentaires p {
  margin: 50px;
}
.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.welcome-text {
  text-align: justify;
  line-height: 1.6;
}

.image-container {
  float: right;
  margin: 0 0 20px 20px;
  max-width: 300px;

  border-radius: 8px;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  color: var(--marrom-fonce);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

form {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
}

label {
  display: flex;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: var(--marrom-fonce);
  color: var(--white);
}
td {
  color: var(--marrom-fonce);
}

tr:hover {
  background-color: #f5f5f5;
}

/* boutons */
.a-btn {
  text-align: center;
  width: 50px;
  margin: 50px;
  padding: 8px;
  color: var(--marrom);
  background-color: var(--white);
  box-shadow: 1px 4px 5px black;
  border-radius: 5px;
}
input[type="submit"],
.btn,
.block {
  background-color: #2f6e31b5;
  color: var(--white);
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  margin-top: 20px;
}

.btn {
  background-color: #6e363c;
}
.btn:hover {
  transform: scale(1.025);
}

footer {
  color: var(--marrom);
  text-align: center;
  padding: 10px;
  width: 100%;
  margin-top: auto;
}

.wrapper {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

.wrapper > div > div {
  margin-bottom: 20px;
  padding: 15px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

p {
  margin: 5px 0;
}

small {
  font-size: 80%;
  color: #666;
}
